.chiled_service{
  text-align: center;
  color: #fff;
  width: 300px;
  margin: 25px auto;
  position: relative;
  overflow: hidden;

}

.inner_service{
  padding: 45px 5%;
  display: block;
  left: 0;
  top: -500px;
  width: 90%;
  height: 80%;
  position: absolute;
  z-index: 99;
  transition: 0.9s;
}

.inner_service::after{
   background: #130f40;
   width: 100%;
   height:100%;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.7;
   z-index: -1;

}
.chiled_service:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.chiled_service h2{
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0;
}
.chiled_service a{
  font-size: 14px;
  padding: 12px 25px;
  color: #fff;
  background:#f0932b ;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}
.chiled_service a:hover{
  background:#6ab04c ;
}
.chiled_service img{
  width: 100%;
  display: block;
  max-width: 100%;
}

.chiled_service:hover .inner_service{
  display: block;
  top: 0;
}