body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

#main_menu{
  background:#30336b ;
}
#main_menu ul{
 margin: 0;
 padding: 0;
 list-style: none;
 text-align: center;
}
#main_menu li {
  display: inline-block;
  position: relative;

}
#main_menu a{
  color: #fff;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
}
#main_menu a:hover{
  background:#22a6b3 ;
}

/* dropdown menu style*/

#main_menu ul ul{
  position: absolute;
  left: 0;
  top: 0;
  background:#686de0 ;
  margin-top: 48px;
  width: 200px;
  display: none;
}
#main_menu ul ul li{
  display: block;
}

#main_menu ul li:hover a{
  background:#22a6b3  ;
}
#main_menu ul li:hover li a{
  background: none;
}
#main_menu ul ul li a:hover{
  background:#130f40 ;
}
#main_menu ul li:hover ul{
  display: block;
}